@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.Form-Container {
  background-color: #4baafd;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.Form-Container .heading-text h1 {
  text-align: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.form-content {
  background-color: #fff;
  width: 95%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.form-content h1 {
  margin-bottom: 2rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.btn-login-1 {
  background-color: #fff;
  color: #4baafd;
  margin: 2rem;
  transition: 2s linear;
}
.btn-login-1:hover {
  background-color: #4baafd;
  border: 2px solid #fff;
}
.btn-login-1 a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.btn-login-1 a:hover {
  color: #fff;
}
.school-logo {
  border-radius: 50%;
  width: 200px;
  margin-bottom: 4rem;
}
